.container
{
    padding-top: 5%;
}

.container img
{
    width: 30rem;
}

.container i 
{
    display: block;
    font-weight: 200;
    font-size: 1.6rem;
}

.container .info
{
    display: flex;
}

.container .text_info
{
    background-color: rgba(0, 0, 0, 0.150);
    color: white;
}

.container .image_info,
.container .text_info
{
    width: 50%;
}

.image {
    background-color: rgba(0, 0, 0, 0.150);
}

.technologies
{
    width: fit-content;
}

.technologies img
{
    width: 5rem;
}

@media only screen and (max-width: 992px)
{
    .container
    {
        padding-top: 5rem;
    }

    .container img
    {
        width: 25rem;
        margin-bottom: 2.5rem;
    }

    .technologies img
    {
        width: 5rem;
        margin: 0;
    }
    
}

@media only screen and (max-width: 768px)
{
    .container .info
    {
        display: block;
    }

    .container .image_info,
    .container .text_info
    {
        width: 100%;
        text-align: center;
    }
    
}