.content {
    padding-top: 150px;
    width: 75%;
}

.header_content {
    text-align: left;
}

.image {
    background-color: rgba(0, 0, 0, 0.150);
    width: 200px;
    height: 200px;
}

.text_info {
    width: 60%;
}

.social_link {
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.social_link img {
    width: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .content {
        padding-top: 150px;
        width: 100%;
    }

    .header_content {
        text-align: center;
    }
}