.content
{
    background-color: #351c51;
    backdrop-filter: blur(5px);
    width: 35%;
    margin: 5px;
    text-align: left;
}

.content img
{
    width: 4rem;
}

.content a{
    text-decoration: none;
    color: white;
    background:
        linear-gradient(
        to right,
        #17202900,
        #17202900
        ),
        linear-gradient(
        to right,
        white,
        white,
        white
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.content a:hover{
    background-size: 0 3px, 100% 3px;
}