.container
{
    padding-top: 7.5%;
    padding-bottom: 1rem;
}

.container i
{
    font-weight: 200;
}

.item
{
    height: fit-content;
}

@media only screen and (max-width: 670px)
{
    .container
    {
        padding-top: 15%;
    }
    
}