.container .content img {
    width: 3rem;
    margin: 0 1.5rem 0 0;
}

.content {
    display: flex;
}

.with_love {
    align-items: center;
    padding-top: 2.5%;
}

.swipe_gif {
    border-radius: 10rem;
    width: 4rem !important;
    height: 4rem;
}

.instructions_container {
    padding: 1rem;
    overflow: hidden;
    height: 5rem;
}

.instructions_container img {
    width: 3rem;
}

.instructions_container .question_icon,
.instructions_container .instructions_content {
    transition: all ease-in-out 0.3s;
}

.instructions_container .instructions_content{
    vertical-align: center;
}

@media only screen and (max-width: 900px) {
    .container {
        text-align: center;
    }

    .instructions_container .question_icon {
        margin-left: -90%;
    }

    .content {
        display: block;
    }
}